{% extends 'Edzblog/base.html' %}
{%block content%}

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for gonderi in gonderiler %}
                        <div class="post">
                            <div class="date">
                                <p>Yayın tarihi: {{ gonderi.yayim_zaman }}</p>
                            </div>
                            <h1><a href="">{{ gonderi.baslik }}</a></h1>
                            <p>{{ gonderi.yazi |linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{%endblock%}